.products {
    text-align: center;
    width: 100%;
    max-width: 640px;
    flex-direction: column;
    justify-content: center;
    display: flex;
    flex: 1.2 0 58%;
}

@media screen and (min-width: 768px) {

    .products {
        flex: 1 0 51%;
        max-width: 530px;
    }
}