.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 90px 0 87px;
    width: 100%;
    position:fixed;
}

.button__wrapper{
    flex: 0 0 100px;
}


.content::-webkit-scrollbar {
    width: 0px
}


@media screen and (max-width: 374px) {

    .content {
        padding: 57px 4px 64px;
    }

}

@media screen and (max-width: 359px) {

    .content {
        padding: 62px 4px 89px;
    }
}


@media screen and (min-width: 768px) {

    .content {
        padding: 90px 0 95px;
    }

    .button__wrapper{
        flex: 0 0 100px;
    }

}